{% include "header.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Experience</h1>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
								<h2>Selenium</h2>
								<a href="https://github.com/sjahirahamed/Linkedin-Bot.git"><h3>Job application generator</h3></a>
								<p>Developed a Python bot to automate job applications on LinkedIn using Selenium.
								   The bot scrapes LinkedIn IDs, receives user input for desired job types, and facilitates user login through individual accounts Enabled efficient and automated job application processes, demonstrating expertise in Python, Selenium, and web scraping techniques</p>
								<a href="#"><h3>Data entry automation</h3></a>
								<p></p>Created a Python bot to automate data entry into Google Forms, with data exportable to Google Sheets.The bot scrapes data from a dummy website using Selenium and Beautiful Soup, and then enters it into a Google Form. Streamlined data entry processes, showcasing proficiency in Python, Selenium, Beautiful Soup, and Google Forms integration.
								<h2>SMTP and Twilio API</h2>
								<a href="https://github.com/sjahirahamed/AUTOMATIC-EMAIL-GENERATOR.git"><h3>Automatic email and message generator</h3></a>
								<p>Developed a system to automatically generate and send emails and messages based on data scraped from a dummy website. The bot updates users about specific changes by scraping data with Selenium and Beautiful Soup. Users provide their email, phone number, and the message to be sent upon an action trigger, utilizing SMTP for emails and Twilio for SMS. Enabled real-time notifications for users, demonstrating proficiency in Python, Selenium, Beautiful Soup, SMTP, and Twilio API integration.</p>
							</section>
					</div>


{% include "footer.html" %}